/* This portion will affect the entire website */

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(images/background-image3.jpg);
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
}

/* This portion affects the navigation buttons */

.container {
    width: 960px;
    margin: auto;
}

.menubar ul{
    display: table;
    width: 100%;
}

.menubar ul li {
    display: table-cell;
    width: 33%;
    text-align: center;
    vertical-align: top;
}

.menubar a {
    text-decoration: none;
    color: blue;
    font-size: 30px;
}

.menubar a:hover {
    color: red;
    font-size: 35px;
}

/* This section will affect the Home page */

/* This section still affects the Home page, specifically, the sidebar section */

.sidebar {
    width: 250px;
    height: 600px;
    float:left;
}

.sidebar p {
    margin: 15px;
}

.sidebar img {
    width: 200px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* background-color: coral */;
}

/* This section still affects the Home page, specifically, the main content section */
.content {
    width: 700px;
    height: 600px;
    float: right;
    /* background-color: green */;
}

.content div {
    display: inline;
}

.content img {
    height: 150;
    width: 100;
}

.mens img, .ladies img, .childrens img {
    width: 100px;
}

.mens, .ladies, .childrens {
    float: right;
    margin: 10px 20px;
}

/* This section affects the Contact Us page */

.container-contact {
    margin: 100px;
}

#content h2 {
    color: purple;
}

/* This section affects the About Us page */
.contact-about {
    margin: 200px;
}